*{
	box-sizing: border-box;
}
.select-song button {
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	padding: 1em 2em;
	border-radius: 0.3rem;
	width: 100%;
	cursor: pointer;
}
.container{
	display: flex;
	justify-content: center;
}

.track-card {
	width: 22rem;
	max-width: 22rem;
	padding: 15px;
    margin-bottom: 40px;
	flex: 1;
	margin-left: 50px;
	background-color: #282c34;
}

.track-card .content {
	display: grid;
	height: 100%;
}

.track-card .img {
	width: 100%;
}

.track-card .artist {
	font-size: 1.2rem;
}

.track-card .img img {
	width: 100%;
	border-radius: 0.3rem;
}

.track-card .release-date {
	font-size: 0.6rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: hsl(var(--clr-text) / 0.4);
}
.track-informations{
	margin-left: 20px;
}
.track-card .content > div:where(:not(:last-child)) {
	margin-bottom: 1rem;
}

.track-card:hover {
	background-color: hsl(var(--clr-grey) / 0.3);
}

.track-card .album-title {
	font-size: 1.38rem;
	font-weight: semi-bold;
	color: hsl(var(--clr-text) / 0.5);
}